
body {
  height: 100vh;
  /* background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(95,9,121,1) 37%, rgba(255,255,255,1) 100%); */
  /* background-image: url('C:\Users\PC\Documents\REACT Projects\SocialMediaClone\client\src\imgs\db04b73374dd3b7f6a29d7943f96e7de.png'); */
  background-size:cover;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{
  display: none;
}
button:hover{
  transition: .2s;
  transform: scale(1.02);
  cursor: pointer;
}
